@import "variables.scss";
@import "breakpoints.scss";

.footer {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  & .footer-navigation {
    display: flex;
    flex-direction: column;

    @include for-screen {
      margin: 0 auto;
      width: 1140px;
      height: 338px;
      display: flex;
      flex-direction: row;
    }

    & .about-company {
      margin: 44px 15px 0 15px;

      & .footer-logo {
        display: flex;
        display: none;

        @include for-screen {
          display: block;
          display: flex;
        }

        & .footer-logo__image {
          width: 60px;
          height: 60px;
          margin-right: 15px;
        }
        & .footer-logo__text {
          display: flex;
          flex-direction: column;
          justify-content: center;

          & .footer-logo__name {
            font-size: 20px;
            line-height: 25px;
            font-weight: 700;
            color: $text-color;
          }
          & .footer-logo__description {
            font-size: 18px;
            line-height: 25px;
            color: $text-color;
            opacity: 0.6;
          }
        }
      }

      & .logo-vertical {
        text-align: center;

        @include for-screen {
          display: none;
        }

        & .logo-vertical__image {
          width: 60px;
          height: 60px;
        }

        & .logo-vertical__text {
          margin-top: 20px;
          color: $text-color;

          & .logo-vertical__name {
            font-size: 20px;
            line-height: 25px;
            font-weight: 700;
          }
          & .logo-vertical__description {
            font-size: 18px;
            line-height: 25px;
            opacity: 0.6;
          }
        }
      }

      & .footer__description {
        line-height: 26px;
        font-size: 18px;
        width: 360px;
        color: $text-color;
        opacity: 0.6;
        margin-top: 26px;
        display: none;

        @include for-screen {
          display: block;
        }
      }

      & .downloads {
        margin-top: 32px;
        display: flex;
        justify-content: center;

        @include for-screen {
          margin-top: 25px;
          display: block;
        }

        & .downloads__item {
          margin-right: 10px;
        }
      }
    }

    & .footer__line-mobile {
      height: 1px;
      width: 100%;
      background-color: $text-color;
      border: none;
      opacity: 0.1;
      margin: 0;
      margin-top: 40px;

      @include for-screen {
        display: none;
      }
    }

    & .additional-navigation {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 15px;

      @include for-screen {
        flex-direction: row;
        margin-top: 60px;
        margin-left: auto;
      }

      & .additional-navigation__column {
        margin-bottom: 25px;

        @include for-screen {
          margin-right: 29px;
        }
      }

      & .nav-links {
        width: 265px;

        & .nav-links__title {
          font-size: 22px;
          font-weight: 700;
          line-height: 28px;
          color: $text-color;
          margin: 0;
        }
        & .nav-links__list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          line-height: 30px;
          margin-top: 18px;

          & .nav-links__list-item {
            font-size: 18px;
            font-weight: 400px;
            line-height: 30px;
            color: $text-color;
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__line {
    display: none;

    @include for-screen {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $text-color;
      border: none;
      opacity: 0.1;
      margin: 0;
      margin-top: 55px;
    }
  }

  & .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 15px;

    @include for-screen {
      width: 1140px;
      height: 50px;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
      align-items: center;
    }

    & .terms__item {
      line-height: 22px;
      text-decoration: none;
      color: $text-color;
      opacity: 0.6;
      font-size: 14px;
      margin-right: 22px;

      @include for-screen {
        line-height: 50px;
      }
    }

    & .social-links {
      margin-top: 30px;

      @include for-screen {
        margin-top: 0;
      }

      & .social-links__item {
        margin-right: 20px;

        @include for-screen {
          margin-left: 20px;
        }
      }
    }
  }
}
