@import "variables.scss";
@import "common.scss";
@import "header.scss";
@import "footer.scss";
@import "headline.scss";
@import "about.scss";
@import "customers.scss";
@import "features.scss";
@import "breakpoints.scss";

* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.page {
  width: 100%;

  @include for-screen {
    width: 1400px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  & .top-section {
    background-color: #f3c6bd;
    height: 890px;
    width: 100%;

    @include for-screen {
      padding-top: 39px;
      height: 710px;
    }
  }
}
